<% content_for :head do %>
<div class="padding">
  <div id="homepage">
    <header><h1>Welcome<br />to my World</h1></header>
  </div>
</div>
<% end %>

<div class="row span12"><%= render 'layouts/lorem' %></div>
