<% provide(:title, raw('A China Adventure')) %>
<% provide(:subtitle, nil) %>
<% provide(:sidebar, 'suppress') %>

<table class="china_adventure">
<% @china_adventures.each do |china_adventure| %>
  <tr>
    <th><%= china_adventure.title %></th>
    <td><%= raw(china_adventure.content) %></td>
  </tr>
<% end %>
</table>
