<% provide(:title, raw('A China Adventure')) %>
<% provide(:subtitle, nil) %>
<% provide(:sidebar, 'suppress') %>

<div class="china_adventure">
<p>
In December of 2011, my Father suffered a debilitating stroke which left him with acute aphasia and paralysis
on his right side.  As part of his road to recovery, my Mother has brought him to
<a href="http://www.tjtcm.cn/english/">The First Teaching Hospital of Tianjin University</a> where he, at the time of
this writing, is undergoing extensive stroke recovery treatments.  This is her journal...
</p>

<p><em>Please be patient, there are a lot of images so this page takes a while to completely load, thanks</em></p>

<table>
<% @china_adventures.each do |china_adventure| %>
  <tr>
    <th><%= china_adventure.title %></th>
    <td><%= raw(china_adventure.content) %></td>
  </tr>
<% end %>
</table>
</div>