<% content_for :head do %>
<div class="padding">
  <div id="homepage">
    <header><h1>Welcome to My World</h1></header>
  </div>
</div>
<% end %>

<div class="row col-md-12"><%= render 'layouts/lorem' %></div>
