.china_adventure {
  border-collapse: collapse;

  p {
    clear: both;

    &:first-child:first-letter {
      font-family: 'Italianno', cursive;
      color: $blueDark;
      font-size: 2em;
      margin-right: 2px;
      text-shadow: $text-shadow;
    }
  }

  th {
    font-size: 1.5em;
    text-align: left;
    vertical-align: top;
    width: 150px;
    padding: 10px;
    text-shadow: $text-shadow;
  }

  td {
    padding: 10px;
  }

  tr {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
  }

  tr:last-child {
    border-bottom: none;
  }

  img {
    @include scale(1);
    @include box-shadow(#{1px 1px 5px rgba(0,0,0,.25)});
    @include transition(#{all .25s ease-in-out});
    margin: 5px;
    width: 100px;
    height: auto;
    position: relative;
    z-index: 1;

    &:hover {
      @include scale(5);
      @include box-shadow(#{5px 5px 10px rgba(0,0,0,.50)});
      @include transition(#{all .25s ease-in-out});
      z-index: 1000;
    }
  }

  .float-L {
    float: left;
    margin-right: 10px;
    margin-left: 0;
  }

  .float-R {
    float: right;
    margin-left: 10px;
    margin-right: 0;
  }
}