.china_adventure {
  border-collapse: collapse;

  th {
    text-align: left;
    vertical-align: top;
    min-width: 100px;
    padding: 10px;
  }

  td {
    padding: 10px;
  }

  tr {
    border-bottom: 1px solid #cfcfcf;
  }

  tr:last-child {
    border-bottom: none;
  }
}