/* footer */

$blueLight: #d9edf7;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  text-align: center;
  color: $blue;
  a {
    color: $blue;
    &:hover { 
      color: darken($blue, 50);
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
