.sidebar {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.sidebar-nav {
  @include box-shadow(1px 1px 3px rgba(0,0,0,.25));
}

.nav-header {
  padding: 5px;
  background-color: $grayMediumLight;
//  @include box-shadow(1px 1px 3px rgba(0,0,0,.25));
}
