<div class="well sidebar-nav">
  <ul class="nav nav-pills nav-stacked">

      <li class="nav-header">Where To?</li>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Resume</a></li>

      <li class="nav-header">Projects</li>
      <li><a href="#">Improv</a></li>
  </ul>
</div>
